= simple_form_for @circle, :html => {:class => 'form-horizontal' }, :url => {:action => 'update'}  do |r|
  = r.button :submit, 'Save', :class => "btn pull-right"
  %h2 Add people to your circle
  = r.error_notification
  .form-inputs
    = r.input :owner_id, :as => :hidden
    = r.input :name, :required => true, :autofocus => true
    = r.input :description, :required => true, input_html: { rows: '5' }
    = label_tag("People", nil, :class => "control-label")
    .control-group
      .controls
        %input(class="typeahead" type="text" autocomplete="off" )
        %p
        #circle_users.well{style:'width:180px;max-height:300px;overflow-y:auto'}
          - @circle.user.each do |u|
            = hidden_field_tag("users[]", u.email)
            %div
              = u.email
          - @circle.candidate.each do |u|
            = hidden_field_tag("users[]", u.email)
            %div
              = u.email

- content_for :script do
  :javascript
    $(function(){
      $("input.typeahead").typeahead({
         source : function(prefix, process){
            $.post('/circle/friend-search/' + prefix, function(result){
              process(result);
            });
         },
         updater : function(item){
            var friend = $("<input type='hidden' name='users[]' value='" + item + "'/><div>" + item + "</div>");
            friend.appendTo("#circle_users");
            return "";
         }
      });
    });