= link_to 'New Circle', new_circle_path, :class => "btn btn-primary pull-right"
%h2 These are the circles that you currenly belong to

%table.table
  %tr
    %th Owner
    %th Name
    %th(style="width:20px")
    %th(style="width:20px")

  - @circles.each do |c|
    %tr
      %td= User.find(c.owner_id).email
      %td= c.name
      - if(c.owner_id == current_user.id)
        %td= link_to raw('<i title="Delete Circle" class="icon icon-trash"></i>'), c, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn"
      - else
        %td
      %td= link_to raw('<i title="Edit Circle" class="icon icon-user"></i>'), edit_circle_path(c), :class => "btn"

- content_for :script do
  :javascript
    $(document).on("page:load", function(){
      $("ul.nav>li").removeClass("active");
      $("#nav-circles").addClass("active");
    });