= link_to 'New Circle', new_circle_path, :class => "btn btn-danger pull-right"
%h2 These are the circles that you currenly belong to

%table.table
  %tr
    %th Owner
    %th Name
    %th Description
    %th Add People
    %th Delete

  - @circles.each do |c|
    %tr
      %td= User.find(c.owner_id).email
      %td= c.name
      %td= c.description
      %td= link_to_unless c.owner_id != current_user.id, 'Add People', edit_circle_path(c)
      %td= link_to_unless c.owner_id != current_user.id, 'Delete', c, method: :delete, data: { confirm: 'Are you sure?' }
