= link_to 'New Circle', new_circle_path, :class => "btn btn-primary pull-right"
%h2 These are the circles that you currenly belong to
%table.table
  %tr
    %th Owner
    %th Name
    %th(style="width:20px")
    %th(style="width:20px")

  - @circles.each do |c|
    %tr
      %td= c.owner.name.blank? ? c.owner.email : c.owner.name
      %td= c.name
      - if(c.owner == current_user)
        %td= link_to raw('<i title="Delete Circle" class="icon icon-trash"></i>'), c, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn"
      - else
        %td
      %td= link_to raw('<i title="Edit Circle" class="icon icon-user"></i>'), edit_circle_path(c), :class => "btn"

= will_paginate @circles, :class => "pagination pull-right", :previous_label => "prev", :next_label => "next"
      
- content_for :script do
  :javascript
    $(function(){
      $("ul.nav>li").removeClass("active");
      $("#nav-circles").addClass("active");
    });