%h2 Can you babysit on any of the following dates?

%table.table
  %tr
    %th Date
    %th Friend
    %th Message

  - @reqs.each do |r|
    %tr
      %td= "#{r.date.strftime('%d/%m/%Y')} from #{r.start_time} to #{r.end_time}"
      %td= r.user.email
      %td= r.description
