
<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.button :submit, "Register", :class=>"btn btn-primary pull-right" %>
    <h2>Register</h2>
    <%= f.input :email, :required => true, :autofocus => true %>
    <%= f.input :password, :required => true %>
    <%= f.input :password_confirmation, :required => true %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
