!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Hurrah
    %p
      Your friend #{@request.volunteer.email} has kindly volunteered to baby site for you on #{@request.date.strftime('%d %B %Y')} from #{@request.start_time} to #{@request.end_time}
    %p
      If you want to check the details follow the link below ...
    %a(href="#{@url}") View Details
    %p Thank you
