Help
====

Your friend #{@request.user.email} needs a baby sitter on #{@request.date.strftime('%d %B %Y')} from #{@request.start_time} to #{@request.end_time}

If you can help follow the link below ...

#{@url}

Thank you